<section>
    <h1>{{btnTitulo}}</h1>
    
    <form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit="ngForm">

        <div>
            <label for="">Nome:</label>
            <input type="text" formControlName="name" placeholder="Insira o nome!" required>
        </div>

        <div>
            <label for="">Sobrenome:</label>
            <input type="text" formControlName="lastName" placeholder="Insira o Sobrenome!" required>
        </div>

        <div>
            <label for="">Departamento:</label>
            <select id="departamento" formControlName="departament" required>
                <option value="RH">RH</option>
                <option value="Financeiro">Financeiro</option>
                <option value="Compras">Compras</option>
                <option value="Atendimento">Atendimento</option>
                <option value="Zeladoria">Zeladoria</option>
            </select>
        </div>

        <div>
            <label for="">Turno:</label>
            <select id="bout" formControlName="bout" required>
                <option value="Manhã">Manhã</option>
                <option value="Tarde">Tarde</option>
                <option value="Noite">Noite</option>
            </select>
        </div>

        <div class="btn__box">
            <button type="submit" [disabled]="!funcionarioForm.valid">{{btnAcao}}</button>
            <button [routerLink]="['/']">Voltar</button>
        </div>
    </form>
</section>
