<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <section class="container-botao">
        <button class="botao-cadastro">Cadastrar novo funcionário</button>
        <section class="container-input">
            <label for="">Procurar:</label>
            <input class="input-buscar" type="text" name="" id="" placeholder="Qual registro está buscando?">
        </section>
    </section>

</body>
</html>