<section class="container-botao">
    <button [routerLink]="['/cadastro']" routerLinkActive="router-link-active"  class="botao-cadastro">Cadastrar novo funcionário</button>
    <section class="container-input">
        <label for="">Procurar:</label>
        <input class="input-buscar" type="text" name="" id="" placeholder="Qual registro está buscando?" (input)="search($event)" >
    </section>
</section>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let funcionario of funcionarios">
        <tr>
            <td>
                <img *ngIf="funcionario.active; else inativo" class="table-imagem-ativo" src="assets/images/Ativo.png" alt="ativo">
                <ng-template #inativo>
                    <img class="table-imagem-ativo" src="assets/images/Inativo.png" alt="inativo">
                </ng-template>
            </td>
            <td>{{funcionario.name}}</td>
            <td>{{funcionario.lastName}}</td>
            <td>{{funcionario.departament}}</td>
            <td>
                <button mat-raised-button color="primary" [routerLink]="['/editar', funcionario.id]">Editar</button>
                <button mat-flat-button color="accent" [routerLink]="['/detalhes', funcionario.id]">Detalhes</button>
            </td>
            <td>
                <button class="botao__excluir">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>