<section class="container-botao">
    <button class="botao-cadastro">Cadastrar novo funcionário</button>
    <section class="container-input">
        <label for="">Procurar:</label>
        <input class="input-buscar" type="text" name="" id="" placeholder="Qual registro está buscando?">
    </section>
</section>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img class="table-imagem-ativo" src="assets/images/Ativo.png" alt="ativo">
                <img class="table-imagem-ativo" src="assets/images/Inativo.png" alt="ativo">
            </td>
            <td>Carlos</td>
            <td>Eduardo</td>
            <td>RH</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>
        </tr>
    </tbody>
</table>