<section>
    <header>
        <h1>Detalhes Funcionário</h1>
    </header>
    
    <div class="container__form">
        <form>
            <div class="input__box">
                <label for="">Nome</label>
                <input type="text" value="{{funcionario?.name}}" placeholder="Nome" disabled>
            </div>
            
            <div class="input__box">
                <label for="">Sobrenome</label>
                <input type="text" value="{{funcionario?.lastName}}" placeholder="Sobrenome" disabled>
            </div>
            
            <div class="input__box">
                <label for="">Departamento</label>
                <input type="text" value="{{funcionario?.departament}}" placeholder="Departamento" disabled>
            </div>
            
            <div class="input__box">
                <label for="">Turno</label>
                <input type="text" value="{{funcionario?.bout}}" placeholder="Turno" disabled>
            </div>

            <div class="input__box">
                <label for="">Situação</label>
                <input type="text" [value]="funcionario?.active?  'Ativo' : 'Inativo'" placeholder="Departamento" disabled>
            </div>
            
            <div class="input__box">
                <label for="">Data de Criação</label>
                <input type="text" value="{{funcionario?.creationDate}}" placeholder="Data de Criação" disabled>
            </div>
            
            <div class="input__box">
                <label for="">Data de Alteração</label>
                <input type="text" value="{{funcionario?.changeDate}}" placeholder="Data de Alteração" disabled>
            </div>

            <div class="btn__box">
                <button (click)="InativaFuncionario()">Inativar usuário</button>
                <button [routerLink]="['/']">Voltar</button>
            </div>
        </form>
    </div>
</section>


