<header>
    <h1>Detalhes Funcionário</h1>
</header>

<div class="container__form">
    <form action="">
        <div>
            <label for="">Nome</label>
            <input type="text" placeholder="Nome" disabled>
        </div>
        
        <div>
            <label for="">Sobrenome</label>
            <input type="text" placeholder="Sobrenome" disabled>
        </div>
        
        <div>
            <label for="">Departamento</label>
            <input type="text" placeholder="Departamento" disabled>
        </div>
        
        <div>
            <label for="">Turno</label>
            <input type="text" placeholder="Turno" disabled>
        </div>
        
        <div>
            <label for="">DataDeCriação</label>
            <input type="text" placeholder="DataDeCriação" disabled>
        </div>
        
        <div>
            <label for="">DataDeAlteração</label>
            <input type="text" placeholder="DataDeAlteração" disabled>
        </div>
    </form>
</div>


