/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

mat-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-form-field{
    width: 100%
}

form{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    gap: 10px;
}

.btn__box{
    display: flex;
    gap: 10px;
    justify-content: center;
}
